@model IEnumerable<L02P02_2022MM652_2022AR652.Models.Autor>

@{
    ViewData["AutorNombre"] = "Autores";
}

<h1>@ViewData["AutorNombre"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().autor)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var autor in Model)
        {
            <tr>
                <td>@autor.autor</td>
                <td>
                    <!-- Aquí se pasa el autorId al controlador Libros en la acción LibrosPorAutor -->
                    <a href="@Url.Action("LibrosPorAutor", "Libros", new { autorId = autor.id })" class="btn btn-success">Seleccionar autor</a>
                </td>
            </tr>
        }

    </tbody>
</table>
