@model IEnumerable<L02P02_2022MM652_2022AR652.Models.Libro>

@{
    ViewData["Title"] = "Libros de " + ViewData["AutorNombre"];
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Fecha de Publicación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <tr>
                <td>@libro.nombre</td>
                <td>
                    <a href="@Url.Action("Details", "Libros", new { id = libro.id })" class="btn btn-info">Seleccionar</a>
          
                </td>
            </tr>
        }
        <a href="@Url.Action("Index", "Autores")" class="btn btn-secondary">Volver a la lista de libros</a>
    </tbody>
</table>


